/*
See index.html for instructions.
*/
* {
    box-sizing: border-box;
}

.main {
    display: flex;
}

.box {
    background: black;
    margin: 4px;
    width: 324px;
    height: 324px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 162px;
    height: 162px;
}

.box-1 {
    background: grey;
}

.box-1 .square-2 {
    background: orange;
}

.box-2 .square-4 {
    background: yellow;
}

.box-3 {
    background: blue;
}

.box-3 .square-3 {
    background: green;
}

.box-4 {
    background: #810082;
}

.box-4 .square-1 {
    background: #FFBFCB;
}


